@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
	background:
		linear-gradient(
			rgba(44, 62, 80,0.6),
			rgba(44, 62, 80,0.6)
		),
		url('assets/img/forest.jpg');
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	color: #eee;
}
.logo {
	padding:75px;
}
.subIcon {
	padding:15px;
}
.homeIcon {
    width: 128px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
